# Virtual environments

venv/
.env/
.venv/

# Python cache

**pycache**/
*.pyc
*.pyo
*.pyd

# Environment variables / secrets

.env

# Flask

instance/
.webassets-cache

# Logs

*.log

# OS files

.DS_Store
Thumbs.db

# IDEs

.vscode/
.idea/

# Testing / coverage

.coverage
htmlcov/
.pytest_cache/

# Build files

dist/
build/
burger-ai-client.zip
*.egg-info/

# Jupyter notebooks

.ipynb_checkpoints
